{% extends 'base.html'%}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <!-- displaying  Username-->
        <div class="col-md-4">
            <div class="page-header">
                <h3>Username: {{user.username| capitalize}} </h3>
            </div>
            

          
        </div>

        <!--Display profile photo-->

    </div>
    <div class="row">
        <h4>Pitches by {{user.username| capitalize}}:</h4>
        {% for pitch in pitches %}
        <div class="col-md-6">


            <blockquote>
                <p>{{ pitch.description }}</p>
                
            </blockquote><br><br>

        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}